* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #3C4E73;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 3.6rem;
  line-height: 5.4rem;
}

h2, h3 {
  font-size: 2.4rem;
  line-height: 3.6rem;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*********************** HOME-NAV  *********/
nav {
  height: 100px;
  width: 100%;
  background-color: #090909;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav .js-challenge {
  width: 100px;
  height: 100px;
}

nav a.user {
  font-size: 2.4rem;
  font-weight: bold;
  color: #99F2C8;
  text-transform: uppercase;
  text-decoration: none;
}

nav a.user::after {
  content: "";
  width: 0%;
  height: 3px;
  display: block;
  background: #99F2C8;
  -webkit-transition: 300ms;
  transition: 300ms;
}

nav a.user:hover::after {
  width: 100%;
}

/* nav min 1024px*/
@media (min-width: 1024px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  h1 {
    font-size: 4.8rem;
    line-height: 7.2rem;
  }

  .nav-bar nav {
    position: fixed;
    z-index: 50;
    height: 100vh;
    width: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .nav-bar nav div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .nav-bar nav a.user {
    -webkit-transform: rotate(-90deg) translate(-100px, 0px);
            transform: rotate(-90deg) translate(-100px, 0px);
    font-size: 1.8rem;
  }
}
/**main**/
main .home-btn {
  display: none;
  position: fixed;
  right: 0;
  top: 10px;
  background: #3C4E73;
  font-size: 2.4rem;
  text-decoration: none;
  font-weight: bold;
  color: #99F2C8;
  padding: 20px 30px 20px 20px;
  -webkit-transform: rotate(-90deg) translateX(0);
          transform: rotate(-90deg) translateX(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.main-section {
  padding: 50px 30px;
}

main .main-title {
  padding: 50px 30px;
  display: block;
}

main .main-title header h1 {
  margin-top: 15px;
  margin-bottom: 25px;
  text-transform: uppercase;
  color: #32321A;
}

main .main-title p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2rem;
  padding: 5px 10px;
  border: 5px solid #3C4E73;
  background-color: #99F2C8;
  border-radius: 5%;
}

main .main-title p:hover {
  background-color: #3C4E73;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-section header h1 {
  margin-top: 15px;
  margin-bottom: 25px;
}

.main-section .taller header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-works .card:hover {
  background-color: #99F2C8;
}

.nav-works .card:hover .card__item {
  background-color: #3C4E73;
  color: #FFFFFF;
}

.nav-works .card:hover .card__item img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.nav-works .card .card__item {
  background-color: #99F2C8;
  padding: 15px 10px;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-bottom: 5px solid #3C4E73;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-works .card .card__item img {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.nav-works .card .card__item h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

.nav-works .card .card__item h2 {
  margin-bottom: 15px;
}

.nav-works .card .card__item:nth-child(1) {
  border-top: 5px solid #3C4E73;
}

.nav-works .card .card__item:nth-child(4) {
  border-bottom: 0px solid #3C4E73;
}

.nav-works .card .card__item:hover {
  background-color: #99F2C8;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  border: 5px solid #99F2C8;
  color: #3C4E73;
}

.nav-works .card .card__item:hover img {
  -webkit-filter: invert(0);
          filter: invert(0);
}

@media (min-width: 1024px) {
  main {
    display: block;
    margin-left: 100px;
    width: 100%;
    height: 100%;
  }

  main .home-btn {
    display: inline-block;
  }

  main .home-btn:hover {
    -webkit-transform: rotate(-90deg) translateX(-10px);
            transform: rotate(-90deg) translateX(-10px);
    background-color: #99F2C8;
    color: #3C4E73;
  }

  .main-title {
    width: 100%;
    height: 20%;
  }

  .nav-works {
    width: 100%;
  }

  .nav-works .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    background-color: #3C4E73;
  }

  .nav-works .card:hover {
    background-color: #99F2C8;
  }

  .nav-works .card:hover .card__item {
    background-color: #3C4E73;
    color: #FFFFFF;
  }

  .nav-works .card:hover .card__item img {
    -webkit-filter: invert(1);
            filter: invert(1);
  }

  .nav-works .card a {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    color: initial;
    text-decoration: none;
  }

  .nav-works .card .card__item {
    height: 100%;
    border-left: 5px solid #3C4E73;
    border-bottom: 5px solid #3C4E73;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .nav-works .card .card__item:nth-child(4) {
    border-bottom: 5px solid #3C4E73;
  }

  .nav-works .card .card__item:hover {
    background-color: #99F2C8;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    border: 5px solid #99F2C8;
    color: #3C4E73;
  }

  .nav-works .card .card__item:hover img {
    -webkit-filter: invert(0);
            filter: invert(0);
  }
}
/*********CALCULADORAS INSIDE***********/
/** ALL**/
@media (min-width: 1024px) {
  .main-section--inside {
    width: 100%;
    margin-bottom: 100px;
  }

  .nav-works--inside {
    width: calc(100% - 100px);
    position: fixed;
    z-index: 50;
    bottom: 0;
  }

  .nav-works--inside .card {
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .nav-works--inside .card .card__item {
    width: 33.3%;
  }

  .nav-works .card .cal {
    border-top: 5px solid #3C4E73;
    min-height: 100px;
  }

  .nav-works--inside .card .card__item:nth-child(1) {
    border-left: 0px solid #3C4E73;
  }

  .nav-works--inside .card .card__item p, .nav-works--inside .card .card__item h4 {
    display: none;
  }

  .nav-works--inside .card .card__item h2 {
    font-size: 1.8rem;
    margin-bottom: 0;
  }

  .nav-works--inside .card .card__item:hover {
    background-color: #99F2C8;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    border: 5px solid #99F2C8;
    color: #3C4E73;
  }

  .nav-works--inside .card .card__item:hover img {
    -webkit-filter: invert(0);
            filter: invert(0);
  }
}
@media (min-width: 1200px) {
  .nav-works--inside .card .card__item h2 {
    font-size: 2.4rem;
  }
}
.taller-card {
  margin-bottom: 40px;
}

.taller-card img {
  width: 55px;
  height: 55px;
}

.taller-card img:nth-of-type(2) {
  margin-top: 30px;
}

.taller-card h2 {
  margin-top: 15px;
  margin-bottom: 20px;
}

.taller-card form {
  font-size: 1.4rem;
}

.taller-card form label, .taller-card form input {
  display: inline-block;
  width: 100%;
}

.taller-card form .form-group {
  margin-bottom: 15px;
}

.taller-card form .form-group input {
  padding-left: 10px;
  margin: 5px 0;
  height: 35px;
  border: 1px solid #3C4E73;
}

.taller-card form p {
  color: #FF3535;
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.taller-card form .btn-form {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  background-color: #DEF2C9;
  border: 2px solid #3C4E73;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.taller-card form .btn-form:hover {
  -webkit-box-shadow: 1px 1px 10px #3d501b;
          box-shadow: 1px 1px 10px #3d501b;
}

@media (min-width: 1024px) {
  .taller {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .taller .taller-card {
    padding: 20px;
    width: 33.3%;
  }

  .taller .taller-card:nth-of-type(1) {
    padding-left: 0;
  }

  .taller .taller-card:nth-of-type(3) {
    padding-right: 0;
  }
}
/*figuras*/
.answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.answer-container {
  width: 300px;
  height: 60px;
  border: 2px solid #3C4E73;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.answer-container p {
  padding: 20px;
  font-size: 2rem;
  font-weight: lighter;
  text-align: center;
  line-height: 30px;
}

.unit {
  position: relative;
}

.unit span {
  position: absolute;
  top: -5px;
  right: -10px;
  font-size: 1.4rem;
}

/*Descuentos*/
.taller-dis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .box {
  min-width: 400px;
  padding: 30px 40px 35px;
  background-color: rgba(0, 0, 0, 0.01);
  border: 6px solid black;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.box img {
  width: 100px;
  height: auto;
  margin: 10px 0 20px;
}

.form-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-container label,
.form-container input {
  margin-bottom: 10px;
}

.form-container input {
  color: #3C4E73;
  font-size: 1.8rem;
  border: 1px solid #3C4E73;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.4);
  padding: 4px 8px;
}

/* Del icons in input number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.cupon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

::-webkit-input-placeholder {
  font-size: 1.5rem;
}

::-moz-placeholder {
  font-size: 1.5rem;
}

:-ms-input-placeholder {
  font-size: 1.5rem;
}

::-ms-input-placeholder {
  font-size: 1.5rem;
}

::placeholder {
  font-size: 1.5rem;
}

.btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  color: #3C4E73;
  font-size: 1.7rem;
  font-weight: bold;
  background-color: #DEF2C9;
  border: 1px solid #3C4E73;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px 0 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

li {
  font-size: small;
}

.btn:hover {
  color: #fff;
  background-color: #3C4E73;
  border: none;
}

.msg-coupon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 6px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border: 0.5px solid #DEF2C9;
  color: #020659;
  background-color: #F2E852;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
}

/****** ESTADISTICA  *****/
.taller-card form .btn-form--alert {
  background-color: #E89535;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  padding: 10px;
  margin: 0;
  width: 100%;
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
  outline: none;
}

select::-ms-expand {
  display: none;
}

.select {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "select";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-width: 15ch;
  max-width: 30ch;
  border: 2px solid #3C4E73;
  padding-right: 10px;
  border-radius: 0;
  font-size: 1.4rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f9f9f9), color-stop(33%, #fff));
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.select select, .select::after {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: select;
}

.select:not(.select--multiple)::after {
  content: "";
  -ms-grid-column-align: end;
      justify-self: end;
  width: 0.8em;
  height: 0.5em;
  background-color: #777;
  -webkit-clip-path: polygon(100% 0%, 0 0%, 50% 100%);
          clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid #0597F2;
  border-radius: inherit;
}